<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/_head') %>
  </head>
  <body>
    <%- include('../partials/_header') %>
    <main style="margin: 1em;">
      <% if(urls) { %>
      <h3>My URLs</h3>
      <table class="table" style="text-align: center;">
        <thead>
          <tr>
            <th scope="col">Short URL</th>
            <th scope="col">Long URL</th>
            <th scope="col">Edit</th>
            <th scope="col">Delete</th>
          </tr>
        </thead>

        <tbody>
          <% for(let url in urls) { %>
          <tr>
            <td><a href="/urls/<%= url %>"><%= url %></a></td>
            <td><%= urls[url].longURL %></td>
            <td>
              <a href="/urls/<%= url %>"><button class="btn btn-primary">Edit</button></a>
            </td>
            <td>
              <form method="POST" action="/urls/<%=url%>/delete">
                <button class="btn btn-danger" type="submit" value="Submit">Delete</button>
              </form>
            </td>
          </tr>
          <% } %>
        </tbody>
      </table>
      <% } else { %>
      <div>
        <h1>
          No URLS Found. Try Logging in, or add a new URL.
        </h1>
      </div>
      <% } %>
    </main>
    <%- include('../partials/_footer') %>
  </body>
</html>
