<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/_head') %>
  </head>

  <body>
    <%- include('../partials/_header') %>
    <main>
      <div class="card text-center">
        <div class="card-header"></div>
        <div class="card-body">
          <h5 class="card-title">TinyURL for: <%= shortURLObj.longURL %></h5>
          <p class="card-text">Time Created: <%= shortURLObj.timeCreated %></p>
          <p class="card-text">Number of Visitor's: <%= shortURLObj.count %></p>
          <p class="card-text">Number of Unique Visitor's: <%= shortURLObj.uniqueCount %></p>
          <p class="card-text">Short URL: <a href="/u/<%= shortURLObj.id %>"><%= shortURLObj.id %></a></p>
          <p>
            <form method="POST" action="/urls/<%=shortURLObj.id%>?_method=PUT">
              <input type="text" name="editURL" placeholder="Enter New URL Here">
              <button type="submit" value="Submit">Submit</button>
            </form>
          </p>
          <h6>Visitors:</h6>
          <table class="table table-sm table-striped table-bordered">

            <thead style="text-align: center;">
              <tr>
                <th scope="col">ID</th>
                <th scope="col">Time Visited</th>
              </tr>
            </thead>
            <tbody>
              <% for (const value of shortURLObj.visitors) { %> 
              <tr>
                <td><%= value.id %></td>
                <td><%= value.time %></td>
              </tr>
              <% } %> 
            </tbody>
          </table>
          
        </div>
        <div class="card-footer text-muted"></div>
      </div>
    </main>

    <footer>
      <%- include('../partials/_footer') %>
    </footer>
  </body>
</html>
