<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/_head') %>
  </head>
  <body>
    <%- include('../partials/_header') %>
    <main style="margin: 1em;">
      <h3>My URLs</h3>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Short URL</th>
            <th scope="col">Long URL</th>
            <th scope="col">Edit</th>
            <th scope="col">Delete</th>
          </tr>
        </thead>

        <tbody>
          <% for(let url in urls) { %>
          <tr>
            <td><a href="/urls/<%= url %>"><%= url %></a></td>
            <td><%= urls[url] %></td>
            <td>
              <button><a href="/urls/<%= url %>">Edit</a></button>
            </td>
            <td>
              <form method="POST" action="/urls/<%=url%>/delete">
                <button type="submit" value="Submit">Delete</button>
              </form>
            </td>
          </tr>
          <% } %>
        </tbody>
      </table>
    </main>
    <%- include('../partials/_footer') %>
  </body>
</html>
